.Polaris-TopBar {
  background-color: #0b4697;

  .Polaris-TopBar-Menu__Activator:hover,
  .Polaris-TopBar-Menu__Activator:active,
  .Polaris-TopBar-Menu__Activator[aria-expanded='true'] {
    background-color: #272f5f;
  }

  .Polaris-TopBar-UserMenu__Details {
    .Polaris-TopBar-UserMenu__Name,
    .Polaris-TopBar-UserMenu__Detail {
      color: #fff;
    }
  }

  .Polaris-TopBar__NavigationIcon .Polaris-Icon svg {
    fill: #ffffff;
  }
}

.Polaris-Frame__Navigation .Polaris-Navigation__LogoContainer {
  background: #0b4697;
}
